<html>
    <head>
      {% if title %}
      <title>{{ title }} - To Do List</title>
      {% else %}
      <title>Here's your To Do List</title>
      {% endif %}
    </head>
    <body>
        <div>To Do List:
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{ url_for('addtask')}}">Add Task</a>
        <a href="{{ url_for('modifytask')}}">Modify Task</a>
        <!--<a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('register_page')}}">Register</a>
        <a href="{{url_for('logout')}}">Logout</a>-->
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>